@charset "utf-8";
//-----Color class style

body {
    font-family   : 'kalpurushregular';
    font-family   : 'Open Sans', 'Arial', sans-serif;
    font-size     : 16px;
    line-height   : 30px;
}

.tcolor {
    color: $tcolor;
}

.dark {
    color: $dark;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


a {
    text-decoration: $a-text-decuration;
    color          : $a-color;
    transition     : all 0.3s;
}

.underline {
    text-decoration: underline !important;
}

.hover-color:hover {
    color: $tcolor;
}

a:hover {
    color          : $tcolor;
    text-decoration: $a-text-decuration;
}

a:focus {
    outline: none !important;
}

a.link {
    color: $tcolor;
}

a.link:hover {
    color: $tcolor !important;
}

ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

.container {
    max-width: 1200px;
}

.row {
    margin: 0 -10px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding: 0 10px;
}

/* ======================================          Global style                 ==================================== */

.ui-datepicker .ui-corner-all {
    text-align : center;
    font-family: 'fontawesome';
    font-weight: 600 !important;
    border     : none !important;

    &.ui-datepicker-prev {
        &::before {
            content: "\f104";
        }
    }

    &.ui-datepicker-next {
        &::before {
            content: "\f105";
        }
    }
}


.widgettitle {
    background    : $bgDark;
    height        : 50px;
    margin-bottom : 15px;
    margin-left   : 0px;
    padding-bottom: 0px;
    color         : #fff;
    padding-left  : 10px;
    display       : flex;
    align-items   : center;

    b {
        margin-right: 10px;
        font-weight : 400;
    }
}

.everySingLeItem {
    border        : 1px solid #853bc429;
    border-radius : 10px;
    overflow      : hidden;
    margin-bottom : 30px;
    padding-bottom: 10px;
    box-shadow    : 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow    : 0 6px 15px rgba(36, 37, 38, 0.08);
    box-shadow    : 5px 12px 20px rgba(36, 37, 38, 0.13);
}

.listContent {
    ul {
        padding: 0 10px 0;
    }
}

.selectLanguage {
    background-color: transparent;
    color           : #fff;
    border          : none;
    outline         : none;
    margin-right    : 25px;

    option {
        color: #000;
    }
}

.recentNewsWrap {
    margin: 15px 0;
}

.latestNews {
    border       : 1px solid $bgDark;
    padding-right: 10px;
}

.latest {
    width       : 200px;
    background  : $bgDark;
    color       : #fff;
    padding     : 10px;
    text-align  : center;
    margin-right: 25px;
    position    : relative;
    font-size   : 20px;

    &::before {
        position     : absolute;
        content      : "";
        right        : -20px;
        top          : 50%;
        transform    : translateY(-50%);
        border-left  : 20px solid $bgDark;
        border-top   : 15px solid rgba(255, 0, 0, 0);
        border-bottom: 15px solid rgba(255, 0, 0, 0);
    }
}

.recentNewsContent {
    a {
        margin: 0 50px;

        img {
            margin-right: 15px;
        }
    }
}

.listMenu {
    padding: 0 20px;

    li {
        &:last-child {
            a {
                // border: none;
            }
        }

        a {
            display      : block;
            border-bottom: 1px dashed #848C7F;
            padding      : 15px 20px;
            position     : relative;
            transition   : all 0.5s;

            &:before {
                position   : absolute;
                content    : "\f105";
                left       : 5px;
                font-family: 'fontawesome';
                top        : 15px;
            }

            &:hover {
                color       : #000;
                padding-left: 30px;
            }
        }
    }

    &.bgGradient {
        li {
            padding-left    : 15px;
            margin-bottom   : 3px;
            transition      : all 0.5s;
            background-image: linear-gradient(to right, #eee 0%, #fff 50%, #eee 100%);
            background-size : 200% auto;

            a {
                border: none;
            }

            &:hover {
                background-position: right center;
            }
        }
    }
}

ul.listBgMenu {
    li {
        a {
            display      : block;
            padding      : 15px 20px;
            background   : #abc7a8;
            background   : #f5f5f5;
            margin-bottom: 3px;
            transition   : all 0.5s;

            &:hover {
                background  : #799875;
                color       : #fff;
                padding-left: 25px;
            }
        }
    }
}

.noticeList {
    .slick-arrow {
        top      : -57px;
        transform: translate(0);

        &::before {
            font-family: 'fontawesome';
            font-size  : 30px;
        }

        &.slick-prev {
            left : auto;
            right: 60px;

            &::before {
                content: "\f104";
            }
        }

        &.slick-next {
            right: 20px;

            &::before {
                content: "\f105";
            }
        }
    }
}

.eventItem {
    height: calc(100% - 30px);
}

.secTitle {
    font-size     : 30px;
    text-transform: capitalize;
    font-weight   : 700;
    margin-bottom : 45px;
    color         : #002147;
    margin-bottom : 50px;
    text-align    : center;
}

.sliderItem {
    outline: none;
}

.detailsBtn {
    text-align : right;
    padding-top: 30px;

    a {
        display        : inline-block;
        padding        : 5px 30px;
        background     : #1d8234;
        background-size: 200% auto;
        color          : #fff;
        border-radius  : 10px;
        max-width      : 150px;
        font-size      : 16px;
        margin-bottom  : 20px;
        transition     : all 0.5s;

        &:hover {
            opacity: 0.85;
        }
    }
}